fastapi
uvicorn
streamlit

langchain
langchain-community
langchain-google-genai
langchain-pinecone

google-generativeai

pinecone

pypdf

python-dotenv
tqdm

pydantic
requests
fastapi
uvicorn
streamlit
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-pinecone
pinecone-client
pypdf
python-dotenv
tqdm


