# fastapi
# uvicorn
# streamlit

# langchain
# langchain-community
# langchain-google-genai
# langchain-pinecone

# google-generativeai


# pypdf

# python-dotenv
# tqdm

# pydantic
# requests
# fastapi
# uvicorn
# streamlit
# langchain
# langchain-core
# langchain-community
# langchain-google-genai
# langchain-pinecone
# pinecone-client


fastapi
uvicorn
langchain
langchain-google-genai
langchain-pinecone
pinecone-client
python-dotenv
pydantic
